@model endterm.ViewModel.Post.PostAddVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Добавление поста</h2>

<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-controller="Post" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-floating mb-3">
                <input asp-for="Title" class="form-control" id="title">
                <label asp-for="Title" for="title">Заголовок</label>
            </div>

            <div class="row mb-3">
                <textarea asp-for="Text" class="form-control" id="description" rows="3"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"> Опубликовать </button>
        </form>
    </div>
</div>
